@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overflow: hidden;
}

iframe
{
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: darkgray;
}

::-moz-selection {
    color: hsl(var(--ac));
    background: hsl(var(--a));
}

::selection {
    color: hsl(var(--ac));
    background: hsl(var(--a));
}

.input, .textarea {
    @apply bg-white;
}

.stats {
    @apply bg-base-200;
}

.react-select__control {
    border-radius: 0.5rem !important;
    padding: 5px;
}

.nova {
    font-family: "Proxima Nova", "Inter", sans-serif;
}